<?xml version="1.0" encoding="utf-8" ?>
<!-- XSD manual extracted from package NLog.Schema: https://www.nuget.org/packages/NLog.Schema-->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogFile="c:\temp\console-internal.log"
      internalLogLevel="Off" >

  <!-- Load the ASP.NET Core plugin -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <!-- the targets to write to -->
  <targets>
    <!-- write logs to file -->
    <target name="ExecutionLog" xsi:type="File"
            fileName="C:\LogFiles\FEDCONS\FEDCONS-Execution.log"
            encoding="utf-8"
            archiveFileName="C:\LogFiles\FEDCONS\FEDCONS-Execution.{###}.log"
            archiveEvery="Day"
            archiveNumbering="DateAndSequence"
            archiveAboveSize="20480000"
            archiveDateFormat="yyyy-MM-dd"
            concurrentWrites="true"
            keepFileOpen="false">
      <layout xsi:type="JsonLayout">
        <attribute name="timestamp" layout="${date:universalTime=true:format=yyyy-MM-dd HH\:mm\:ss.fff}" />
        <attribute name="trace_id" layout="${event-properties:item=TraceId}" />
        <attribute name="message" layout="${message}" />
      </layout>
    </target>

    <target name="ExceptionLog" xsi:type="File"
            fileName="C:\LogFiles\FEDCONS\FEDCONS-Exception.log"
            encoding="utf-8"
            archiveFileName="C:\LogFiles\FEDCONS\FEDCONS-Exception.{###}.log"
            archiveEvery="Day"
            archiveNumbering="DateAndSequence"
            archiveAboveSize="20480000"
            archiveDateFormat="yyyy-MM-dd"
            concurrentWrites="true"
            keepFileOpen="false">
      <layout xsi:type="JsonLayout">
        <attribute name="timestamp" layout="${date:universalTime=true:format=yyyy-MM-dd HH\:mm\:ss.fff}" />
        <attribute name="message" layout="${message}" />
        <attribute name="exception" layout="${exception:format=toString,Data:maxInnerExceptionLevel=10}" />
      </layout>
    </target>

    <!-- write to the void aka just remove -->
    <target xsi:type="Null" name="blackhole" />
  </targets>

  <!-- rules to map from logger name to target -->
  <rules>
    <!--Skip Microsoft logs and so log only own logs-->
    <logger name="Microsoft.*" minlevel="Trace" writeTo="blackhole" final="true" />
    <!--Exception logs-->
    <logger name="ExecutionLog" level ="Debug"  writeTo="ExecutionLog" final="true" />
    <!--Exception logs-->
    <logger name="ExceptionLog" level ="Error"  writeTo="ExceptionLog" final="true" />
  </rules>
</nlog>